<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yudiz.easesample">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImageEasyX">
        <activity
            android:name="com.yudiz.imageeasy.samples.settings.SettingsActivity"
            android:label="@string/configuration"
            android:parentActivityName="com.yudiz.imageeasy.MainActivity" />
        <activity android:name="com.yudiz.imageeasy.samples.ViewPager2Sample" />
        <activity android:name="com.yudiz.imageeasy.samples.NavControllerSample" />
        <activity android:name="com.yudiz.imageeasy.samples.FragmentSample" />
        <activity android:name="com.yudiz.imageeasy.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>